<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home-global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home-Desktop8.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IcoFont:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700;800&display=swap" />
</head>

<body>
    <div class="desktop-8">
        <img class="shape-icon4" alt="" src="">

        <section class="container3">
            <div class="frame-parent50">
                <header class="frame-parent51">
                    <div class="rectangle-parent17">
                        <div class="frame-child69"></div>
                        <img class="shape-icon4" alt="" src="{{ url_for('static', filename='img/whitelogo.png') }}" />

                        <div class="medicust-wrapper2">
                            <h3 class="medicust31">Dr. Mind-Ease</h3>
                        </div>
                    </div>
                    <button class="home-about-d-wrapper2">
                        <div class="home31">Blogs</div>
                    </button>
                    <button class="home-about-d-wrapper3" onclick="location.href='/score'">
                        <div class="home32">Get Score</div>
                    </button>
                    <button class="home-about-d-parent" onclick="location.href='/about'">

                        <div class="home34">About</div>

                    </button>
                    <button class="home-about-d-wrapper4" onclick="location.href='/contact'">
                        <div class="home35">Contact us</div>
                    </button>

                </header>
                <div class="a-professional-and-friendly-ca-group">
                    <h1 class="a-professional-and16">Dr.Mind-Ease</h1>
                    <h3 class="medical-and-health9">Medical And Health</h3>
                    <div class="frame-parent52">
                        <div class="a-professional-and-friendly-ca-parent1">
                            <h1 class="a-professional-and17">
                                A professional and friendly Mental careprovider.
                            </h1>
                            <div class="excepteur-sint-occaecat-container3">
                                <p class="get-your-mental">
                                    Get your mental health and issues resolved with our chatbot!!!!!!
                                </p>
                                <p class="get-prescription-of">
                                    Get prescription of how to solve it.
                                </p>
                                <p class="play-games-to">Play games to relieve your stress and anxiety</p>
                            </div>
                        </div>
                        <button class="all-doctors-wrapper2" onclick="location.href='/score'">
                            <div class="all-doctors10">Know your Mental Score</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="blogpostlink">
                <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
                <script src="https://mediafiles.botpress.cloud/170e1afc-a5e7-4655-89f4-fddece87217b/webchat/config.js"
                    defer></script>
                <div class="frame-parent54">
                    <div class="oval-group">
                        <div class="oval14"></div>
                        <div class="oval15"></div>
                        <div class="oval16"></div>
                    </div>
                    <div class="pngtree-cartoon-style-3d-illus-container">
                        <img alt="" src="{{ url_for('static', filename='img/doctor.png') }}" />
                    </div>
                </div>
            </div>
        </section>
        <section class="desktop-8-inner">
            <div class="dorcotr-1-container">
                <img alt="" src="{{ url_for('static', filename='img/dorcotr 1.png') }}" />

                <div class="need-a-doctor-for-checkup-cal-group">
                    <h1 class="need-a-doctor5">
                        Need an online guide and recommender for your mental health
                        related issue ?
                    </h1>
                    <div class="excepteur-sint-occaecat-cupida-group">
                        <div class="excepteur-sint-occaecat-container4">
                            <p class="let-dr-mind-ease-help-you">
                                <span class="le3">Le</span>t Dr. Mind-ease help you !
                            </p>
                        </div>
                        <div class="frame-parent55">
                            <button class="frame-parent56">

                                Get support

                                <img alt="" src="{{ url_for('static', filename='img/bot img.png') }}" />
                            </button>
                            <!-- <button class="get-recommendation-parent">
                                <div class="get-recommendation">Get Recommendation</div>
                                <img alt="" src="{{ url_for('static', filename='img/recommend.png') }}" />
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="user-info-row">
            <div class="amber-morales23">
                <h1 class="our-all-department5">Play games !</h1>
                <div class="duis-aute-irure-container">
                    <p class="play-games-that">
                        Play games that foster the growth and development of the mind.
                    </p>
                </div>
            </div>
            <div class="main-section-group">
                <div class="main-section8">
                    <img class="divhelpful-card-icon11" loading="eager" alt=""
                        src="{{ url_for('static', filename='img/game.jpg') }}" />

                    <b class="heading-422">MindBalance Quest: PHQ-9 Challenge</b>
                    <div class="heading-4-01-parent">
                        <div class="heading-423">01</div>
                        <div class="when-deciding-which-container15">
                            <span>
                                <p class="when-deciding-which11">
                                    Embark on the PHQ-9 Challenge, and Illuminate Your Path to Wellness.
                                </p>
                                <p class="research11">research.</p>
                            </span>
                        </div>
                    </div>
                    <button class="link-read-more-parent7">
                        <div class="link-read14" onclick="location.href='/game1'">Play</div>
                        <img src="{{ url_for('static', filename='img/Link.png') }}" alt="">
                    </button>
                </div>


                <div class="main-section9">
                    <div class="divhelpful-card-icon-wrapper">
                        <img class="divhelpful-card-icon12" alt=""
                            src="{{ url_for('static', filename='img/game2.jpg') }}" />
                    </div>
                    <b class="heading-424">Match the pairs</b>
                    <div class="frame-parent57">
                        <div class="heading-4-02-container">
                            <div class="heading-425">02</div>
                            <div class="when-deciding-which-container16">
                                <span>
                                    <p class="when-deciding-which12">
                                        Train your mind
                                    </p>
                                    <p class="donate-to-it12">
                                        by matching pairs like
                                    </p>
                                    <p class="research12">heart and brain</p>
                                </span>
                            </div>
                        </div>
                        <button class="link-read-more-parent7" onclick="location.href='/game2'">
                            <div class="link-read14">Play</div>
                            <img src="{{ url_for('static', filename='img/Link.png') }}" alt="">
                        </button>
                    </div>
                </div>
                <div class="main-section10">
                    <img class="divhelpful-card-icon13" alt=""
                        src="{{ url_for('static', filename='img/game3.jpg') }}" />

                    <div class="heading-4-send-a-charitable-group">
                        <b class="heading-426">Guess The Word</b>
                        <div class="amber-morales-amber-morales-parent">
                            <div class="amber-morales-amber-morales">
                                <div class="heading-427">03</div>
                                <div class="when-deciding-which-container17">
                                    <span>
                                        <p class="when-deciding-which13">
                                            When deciding which charity to
                                        </p>
                                        <p class="donate-to-it13">
                                            donate to, it important to do your
                                        </p>
                                        <p class="research13">research.</p>
                                    </span>
                                </div>
                            </div>
                            <button class="link-read-more-parent7" onclick="location.href='/game3'">
                                <div class="link-read14">Play</div>
                                <img src="{{ url_for('static', filename='img/Link.png') }}" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <!-- <div class="main-section11">
                    <img class="divhelpful-card-icon14" alt="" src="{{ url_for('static', filename='img/game4.jpg') }}" />

                    <b class="heading-428">Game 4</b>
                    <div class="heading-4-04-group">
                        <div class="heading-429">04</div>
                        <div class="when-deciding-which-container18">
                            <span>
                                <p class="when-deciding-which14">
                                    When deciding which charity to
                                </p>
                                <p class="donate-to-it14">
                                    donate to, it important to do your
                                </p>
                                <p class="research14">research.</p>
                            </span>
                        </div>
                    </div>
                    <button class="link-read-more-parent7">
                        <div class="link-read14">Play</div>
                        <img src="{{ url_for('static', filename='img/Link.png') }}" alt="">
                    </button>
                </div> -->
            </div>
        </section>
        <section class="medicust-text1">
            <h2 class="duis-aute-irure85">
                Want to be a contributor to our community ?
            </h2>
        </section>
        <section class="dept-frame">
            <div class="quick-links-frame2">
                <div class="blog-post-frame5">
                    <div class="text-wrapper">
                        <div class="text15">
                            <div class="family-medicine-frame-wrapper">
                                <div class="family-medicine-frame">
                                    <div class="oval17"></div>
                                    <div class="pediatrics-frame">
                                        <div class="text16">
                                            <div class="link-frame2">
                                                <h3 class="join-our-team5">Join our team</h3>
                                                <div class="lorem-ipsum-dolor49">
                                                    Lorem ipsum dolor ametconsectetur adipiscing
                                                    elitsed eiusmod tempor
                                                </div>
                                            </div>
                                            <img src="{{ url_for('static', filename='img/link.png') }}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="oval18"></div>
                        </div>
                    </div>
                    <div class="oval-container">
                        <div class="oval19"></div>
                        <div class="oval20"></div>
                        <div class="frame-parent58">
                            <div class="frame-wrapper10">
                                <div class="object-parent2">
                                    <img alt="" src="{{ url_for('static', filename='img/blueLogo.png') }}" />

                                    <div class="medicust-wrapper3">
                                        <h2 class="medicust32">Dr. Mind-Ease</h2>
                                    </div>
                                </div>
                            </div>
                            <form class="frame-parent59"  action="https://api.web3forms.com/submit" method="POST">
                                
                                <div class="form-label-email-parent1">
                                    <div class="form-label42">Name</div>
                                    <div class="form-input42">
                                        <input class="enter-your-name9" placeholder="Enter your name" type="text"  name="access_key" value="537e177f-43e8-4504-872a-6de061b16ec2"/>
                                    </div>
                                </div>
                                <div class="form-label-password-parent5">
                                    <div class="form-label43">Email</div>
                                    <div class="form-input43">
                                        <input class="enter-your-email9" placeholder="Enter your Email" type="text"
                                            name="email" required type="number"  />
                                    </div>
                                </div>
                                <div class="form-label-password-parent6">
                                    <div class="form-label44">Phone number</div>
                                    <div class="form-input44">
                                        <input class="enter-your-number2" placeholder="Enter your number" type="text" />
                                    </div>
                                </div>
                                <div class="form-label-password-parent7">
                                    <div class="form-label45">Description to join our team</div>
                                    <textarea class="form-input45" placeholder="Write about yourself" rows="{7}"
                                        required name="Message" cols="{21}">
                    </textarea>
                                </div>
                                <button class="form-link13" type="submit">
                                    <b class="send3">Send</b>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="text-grouping">
            <div class="parent-box">
                <div class="title-text-block">
                    <h2 class="we-always-ready8">
                        We are always ready for a challenge !
                    </h2>
                    <div class="welcome-text-block-shape">
                        <div class="vertical-divider-shape">
                            <div class="service-label-grouping">
                                <button class="icon-node-shape">
                                    <img alt="" src="{{ url_for('static', filename='img/phone.png') }}" />

                                    <div class="div50"></div>
                                </button>
                                <button class="icon-node-shape1">
                                    <img alt="" src="{{ url_for('static', filename='img/mail.png') }}" />

                                    <div class="div51"></div>
                                </button>
                            </div>
                            <div class="product-designer-name">
                                <b class="velvet-craving-name">+00 568 467 46</b>
                                <b class="medicustgmailcom7">medicust@gmail.com</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review-label-text-block-shape">
                    <div class="department-symbol-set-shape">
                        <h3 class="duis-aute-irure86">
                            Our goal is to provide a better mental-health service to our users and
                            in this path we aim to give our best !
                        </h3>
                        <div class="lorem-ipsum-dolor50">
                            We are students of Thakur college of Engineering and Technology.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="link-to-more-node-shape">
            <!-- <img class="content-frame-parent-box-shape" loading="eager" alt="" src="./public/frame-471.svg" /> -->

            <div class="our-services-text-block-shape">
                <div class="label-stack-child-nodes-names">
                    <div class="text-container1">
                        <h1 class="patient-testimonials5">User Reviews</h1>
                    </div>
                    <div class="duis-aute-irure-dolor-in-repre-wrapper5">
                        <div class="duis-aute-irure87">
                            "Customer Insights: Unveiling Experiences and Opinions in Our Review Hub"
                        </div>
                    </div>
                    <div class="amber-morales24">
                        <!-- <img class="amber-morales-child" loading="eager" alt="" src="img/" /> -->

                        <div class="frameset">
                            <div class="frame-parent60">
                                <div class="frame-wrapper11">
                                    <div class="amber-morales-parent5">
                                        <b class="amber-morales25">Amber Morales</b>
                                        <div class="product-designer22">Product Designer</div>
                                        <b class="duis-aute-irure88">Duis aute irure dolor in reprehevoluptate velit
                                            esse
                                            cillum dolosunt culpa officia.</b>
                                    </div>
                                </div>
                                <div class="duis-aute-irure89">
                                    Duis aute irure dolor in reprehenderit involuptate velit
                                    esse cillum dolore fugiatsunt culpa officia deserunt mollit
                                    animest laborum.
                                </div>
                                <div class="frame-child70"></div>
                            </div>
                            <div class="frame-parent61">
                                <div class="frame-wrapper12">
                                    <div class="amber-morales-parent6">
                                        <b class="amber-morales26">Amber Morales</b>
                                        <div class="product-designer23">Product Designer</div>
                                        <b class="duis-aute-irure90">Duis aute irure dolor in reprehevoluptate velit
                                            esse
                                            cillum dolosunt culpa officia.</b>
                                    </div>
                                </div>
                                <div class="duis-aute-irure91">
                                    Duis aute irure dolor in reprehenderit involuptate velit
                                    esse cillum dolore fugiatsunt culpa officia deserunt mollit
                                    animest laborum.
                                </div>
                                <div class="frame-child71"></div>
                            </div>
                            <div class="frameset-inner">
                                <div class="seemorereviews-parent">
                                    <div class="seemorereviews">
                                        <div class="content-block">
                                            <b class="amber-morales27">Amber Morales</b>
                                            <div class="product-designer24">Product Designer</div>
                                            <b class="duis-aute-irure92">Duis aute irure dolor in reprehevoluptate velit
                                                esse
                                                cillum dolosunt culpa officia.</b>
                                        </div>
                                    </div>
                                    <div class="duis-aute-irure93">
                                        Duis aute irure dolor in reprehenderit involuptate velit
                                        esse cillum dolore fugiatsunt culpa officia deserunt
                                        mollit animest laborum.
                                    </div>
                                    <div class="appointment-link1"></div>
                                </div>
                            </div>
                            <div class="frame-parent62">
                                <div class="frame-wrapper13">
                                    <div class="frame-parent63">
                                        <div class="frame-child72"></div>
                                        <div class="amber-morales-parent7">
                                            <b class="amber-morales28">Amber Morales</b>
                                            <div class="product-designer25">Product Designer</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="duis-aute-irure-dolor-in-repre-wrapper6">
                                    <b class="duis-aute-irure94">Duis aute irure dolor in reprehevoluptate velit esse
                                        cillum dolosunt culpa officia.</b>
                                </div>
                                <div class="duis-aute-irure95">
                                    Duis aute irure dolor in reprehenderit involuptate velit
                                    esse cillum dolore fugiatsunt culpa officia deserunt mollit
                                    animest laborum.
                                </div>
                            </div>
                            <div class="frame-parent64">
                                <div class="frame-wrapper14">
                                    <div class="frame-parent65">
                                        <div class="frame-child73"></div>
                                        <div class="amber-morales-parent8">
                                            <b class="amber-morales29">Amber Morales</b>
                                            <div class="product-designer26">Product Designer</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="duis-aute-irure-dolor-in-repre-wrapper7">
                                    <b class="duis-aute-irure96">Duis aute irure dolor in reprehevoluptate velit esse
                                        cillum dolosunt culpa officia.</b>
                                </div>
                                <div class="duis-aute-irure97">
                                    Duis aute irure dolor in reprehenderit involuptate velit
                                    esse cillum dolore fugiatsunt culpa officia deserunt mollit
                                    animest laborum.
                                </div>
                            </div>
                            <div class="frame-parent66">
                                <div class="frame-wrapper15">
                                    <div class="frame-parent67">
                                        <div class="frame-child74"></div>
                                        <div class="amber-morales-parent9">
                                            <b class="amber-morales30">Amber Morales</b>
                                            <div class="product-designer27">Product Designer</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="duis-aute-irure-dolor-in-repre-wrapper8">
                                    <b class="duis-aute-irure98">Duis aute irure dolor in reprehevoluptate velit esse
                                        cillum dolosunt culpa officia.</b>
                                </div>
                                <div class="duis-aute-irure99">
                                    Duis aute irure dolor in reprehenderit involuptate velit
                                    esse cillum dolore fugiatsunt culpa officia deserunt mollit
                                    animest laborum.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-section">
                        <button class="quick-links-bar1">
                            <div class="see-more-reviews4">See more reviews</div>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <footer class="lorem-text">
            <div class="department-list">
                <div class="object-frame3">
                    <div class="review-card">
                        <img alt="" src="{{ url_for('static', filename='img/whitelogo.png') }}" />

                        <div class="medical-provider">
                            <h2 class="medicust33">Dr. Mind-Ease</h2>
                        </div>
                    </div>
                    <div class="lorem-ipsum-dolor51">
                        Digitalizing the old tradition of the appointment booking and
                        appointment scheduling . We also provide medicine recommendation
                        system.
                    </div>
                </div>
                <div class="blog-title">
                    <div class="link-list">
                        <h2 class="deaprtments5">Sections</h2>
                        <div class="family-medicine-womens5">
                            MedicineDoctor appointmentChat-botAbout UsContact us
                        </div>
                    </div>
                </div>
                <div class="quick-links-container1">
                    <div class="departments-text">
                        <h2 class="quick-links10">Quick Links</h2>
                        <div class="our-doctors-appointment5">
                            Our DoctorsAppointmentBlog PostMedicine
                            recommendationContact Us
                        </div>
                    </div>
                </div>
                <div class="blog-post-parent1">
                    <div class="blog-post-text">
                        <h2 class="blog-post7">Blog Post</h2>
                        <div class="excerpt-parent-parent">
                            <div class="excerpt-parent">
                                <div class="semicolon-empty">22.05.2019</div>
                                <div class="excepteur-sint-occaecat19">
                                    Excepteur sint occaecatcupidatat non proident,sunt in
                                    culpa.
                                </div>
                            </div>
                            <div class="excerpt-parent1">
                                <div class="div52">22.05.2019</div>
                                <div class="excepteur-sint-occaecat20">
                                    Excepteur sint occaecatcupidatat non proident,sunt in
                                    culpa.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lorem-i-psum-parent">
                <div class="lorem-ipsum-dolor52">
                    All rights reserved to Dr.Med-Ease . Established in 2024
                </div>
            </div>
        </footer>
    </div>
    <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbyE10ryeoqbsGiDkacxt16mZix2Ih5Z79cPQj7EtdDQlss17HcVEoXdXjlE-NDiZ6b-zQ/exec';
        const form = document.forms['submit-to-google-sheet'];
        const span = document.getElementById('span');

        form.addEventListener('submit', e => {
            e.preventDefault();
            fetch(scriptURL, { method: 'POST', body: new FormData(form) })
                .then(response => {
                    span.innerHTML = 'Message Sent successfully';
                    setTimeout(function () {
                        span.innerHTML = '';
                    }, 3000);
                    form.reset();
                })
                .catch(error => console.error('Error!', error.message));
        });
    </script>
</body>

</html>